[Unit]
Description=cli cmd
Documentation=https://github.com/serialt/cli
After=network.target

[Service]
WorkingDirectory=/opt/cli
ExecStart=/opt/cli/cli -c /opt/cli/config.yaml
KillMode=process
Restart=on-failure
RestartSec=50s

[Install]
WantedBy=multi-user.target